
/*Login*/
.login-form{
    margin: 40px 0;
}

.login-token{
    background-color: #53b1ed;
    height: 330px !important;
}

.login-email{
    background-color: #1c2231;
    height: 350px !important;
}
.login-logo-text{
    color: white;
    margin: 30px 0 !important;
}

.label-login{
    color: white !important;
    font-size: 1.1rem !important;
}

.btn-login{
    margin-left: 70px !important;
}

.input-login{
    margin: 60px 0 0;
}

.hr-login{
    padding: 5px;
    background-color: #53b1ed;
    border: none;
    width: 35%;
    border-radius: 5px;
}

.text-register{
    font-size: 1.2rem !important;
    text-transform: uppercase;

}

/*How Works*/
.itens-list{
    margin-top: 35px;
    margin-bottom: 35px;
}

.itens-list p {
    font-size: 1.4rem;
    font-weight: 400;
}

/*cards da pesquisa*/
.card .card-content{
    padding: 13px !important;
}
.label_price{
    /*background-color: #333333;*/
    background-color: #53b1ed;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin: 0 !important;
    padding: 5px;
}

.label_duration{
    /*background-color: #333333;*/
    margin: 0 !important;
    background-color: #53b1ed;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    padding: 5px;
}

.div_cards_services{
    margin: 10px 0 30px;
}

.btn_view{
    /*float: right;*/
    float: right;
    color: #1194e5 !important;
    font-weight: bold;
}

.button-profile{
    font-size: .8rem !important;
    margin-top: 30px;
}

.card-name-service{
    padding: 0;
    margin-top: 0 !important;
    margin: 0 10px 20px;
}

.card-name-expertise{
    background-color: #53b1ed;
    margin: 0;
}
.avatar-expertise{
    width: 60px;
    margin: 0 10px;
}
.span-name{
    position: absolute;
    top: 10%;
}
.select-visitor .select-wrapper .select-dropdown{
    padding: 0 0 0 5px !important;
    margin-right: 5px !important;
}

.div-buttons{
    padding: 0 !important;
    margin: 5px 8px;
}

.input-field{
    margin-bottom: 0 !important;
    height: auto !important;
}

.card-image{
    display: flex !important;
    justify-content: center !important; /* Centraliza horizontalmente */
    align-items: center !important; /* Centraliza verticalmente */
}

.image-professional{
    width: 50% !important;
}

.card-link{
    color: black;
}
.description-job-card{
    font-size: .8rem;
}

/*.select-wrapper .select-dropdown {*/
/*    padding-left: 10px !important; !* Ajuste o valor conforme necessário *!*/
/*    font-size: .9rem !important; !* Opcional: ajuste o tamanho da fonte *!*/
/*}*/

.label_especialidade{
    background-color: #333333;
    margin: 0 !important;
    color: white;
    font-weight: bold;
    text-align: center;
}
.col-image-job-request{
    background-color: #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-top: 15px;*/
}

.icone-default{
    text-align: center;
}

.icone-default i{
    color: #B8B8B8;
    font-size: 10rem;
    text-align: center;
}

.progress{
    margin: 10px 0 0!important;
    height: 25px !important;
    background-color: #6700EB !important;
}

.btn-view-request{
    font-size: .8rem !important;
    padding: 0 !important;
    width: 100px !important;
    margin: 5px 0 !important;
    float: right;
}

.card-progress{
    padding: 0 !important;
    margin: 0!important;
}

.truncate{
    margin: 0 !important;
    font-size: .9rem;
}

.qtd_candidates {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.card-footer {
    position: relative;
    height: 30px;
}

.determinate {
    height: 100%;
    background-color: #65AFEB !important;
}

.progress-text {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    color: black;
    font-weight: bold;
}

.card-image{
    /*display: flex !important;*/
    /*justify-content: center !important;*/
    /*align-items: center !important;*/
}

.image-professional{
    margin-top: 15px;
    width: 40% !important;
}

.card-link{
    color: black;
}
.description-job-card{
    font-size: .8rem;
}