.active-profission{
    border: #00b0ff 2px solid;
    padding: 20px;
}

.card-request1{
    color: white;
    font-size: 130%;
    padding: 15px;
}

.contact-item-professional{
    font-size: 100%;
}

.contact-item-professional i{
    font-size: 1.5rem !important;
}

.col-image-job-request{
    background-color: #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-top: 15px;*/
}

.icone-default{
    text-align: center;
}

.icone-default i{
    color: #B8B8B8;
    font-size: 13.4rem;
    text-align: center;
}

.progress{
    margin: 10px 0 0!important;
    height: 25px !important;
    background-color: #6700EB !important;
}

.btn-view-request{
    font-size: .8rem !important;
    padding: 0 !important;
    width: 100px !important;
    margin: 5px 0 !important;
    float: right;
}

.card-progress{
    margin: 10px 0 0!important;
    height: 25px !important;
    background-color: #6700EB !important;
}

.truncate{
    margin: 0 !important;
    font-size: .9rem;
}

.qtd_candidates {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.spacing-buttons{
    margin-bottom: 0 !important;
}

.icon_default {
    font-size: 1.5rem !important;
    margin: 10px 0;
    font-weight: bold !important;
}

.my-button-flex{
    margin-top: 20px;
}

.card-footer {
    position: relative;
    height: 30px;
}

.determinate {
    height: 100%;
    background-color: #65AFEB !important;
}

.progress-text {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    color: black;
    font-weight: bold;
}

.profilePicture{
    width: 50% !important;
}

.card-image{
    /*display: flex !important;*/
    /*justify-content: center !important;*/
    /*align-items: center !important;*/
}

.image-professional{
    margin-top: 15px;
    width: 40% !important;
}

.card-link{
    color: black;
}
.description-job-card{
    font-size: .8rem;
}

.label_especialidade{
    background-color: #333333;
    margin: 0 !important;
    color: white;
    font-weight: bold;
    text-align: center;
}

.card .card-image .card-title{
    padding: 5px !important;
    color: #0D47A1 !important;
    font-size: .9rem !important;
}

.middle-indicator{
    position:absolute;
    top:50%;
}
.middle-indicator-text{
    font-size: 4.2rem;
}
a.middle-indicator-text{
    color:black !important;
}

.content-indicator{
    width: 64px;
    height: 64px;
    background: none;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.carousel.carousel-slider .carousel-fixed-item.with-indicators {
    /*bottom: 200px;*/
}

.carousel.carousel-slider .carousel-fixed-item {
    position: fixed !important;
}